name: CI

on: pull_request

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
    - uses: actions/checkout@v6
    - run: swift build --build-tests
    - run: swift test --skip-build --enable-swift-testing --parallel
      env:
        APP_ID: ${{ secrets.APP_ID }}
        API_SECRET: ${{ secrets.API_SECRET }}
        APP_INSTANCE_ID: ${{ secrets.APP_INSTANCE_ID }}
  lint:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
      - uses: actions/checkout@v6
      - run: swift format lint -r -p -s .
